{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block content %}
    <div>
        <canvas id="chart"></canvas>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
	<script type="text/javascript" charset="utf-8">
		let socket = io();

		let count = 1;

		let labels = [];
		let data = {
			labels: labels,
			datasets: [{
			label: 'Temperatures',
			backgroundColor: 'rgb(255, 99, 132)',
			borderColor: 'rgb(255, 99, 132)',
			data: [],
			}]
		};

		const config = {
			type: 'line',
			data,
			options: {}
		}

		let chart = new Chart(
			document.getElementById('chart'),
			config
		);

		chart.options.animation = false;

		socket.on('web-data', (data) => {
			chart.data.labels.push(count++);
			chart.data.datasets.forEach((dataset) => {
				dataset.data.push(data);
			});
			chart.update();
		});
	</script>
{% endblock %}