{% extends "base.html" %}
{% block style %}{{ url_for('static', filename='style/pageContent.css') }}{% endblock %}
{% block title %}Home{% endblock %}
{% block content %}
    <div class="wrapper">
        <div class="grid-container vertical-center one">ECG</div>
        <div class="grid-container vertical-center two">Temp patient</div>
        <div class="grid-container vertical-center three">RFID patient</div>
        <div class="grid-container vertical-center four">Temp humidity</div>
        <div class="grid-container vertical-center five">Gaz</div>
        <div class="grid-container vertical-center six">Infos patient (perso, traitement, rdv, opérations, ...)</div>
    </div>
    <div>
        <canvas id="chart"></canvas>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
	<script type="text/javascript" charset="utf-8">
		let socket = io();

		let count = 1;

		let width, height, gradient;
		function getGradient(ctx, chartArea) {
			const chartWidth = chartArea.right - chartArea.left;
		  	const chartHeight = chartArea.bottom - chartArea.top;
		  	if (gradient === null || width !== chartWidth || height !== chartHeight) {
		    		width = chartWidth;
		    		height = chartHeight;
		    		gradient = ctx.createLinearGradient(0, chartArea.bottom, 0, chartArea.top);
		    		gradient.addColorStop(0, 'rgb(0, 82, 100)');
		    		gradient.addColorStop(0.5, 'rgb(233, 189, 21)');
		    		gradient.addColorStop(1, 'rgb(212, 0, 0)');
		  	}

		  	return gradient;
		}

		let labels = [];
		let data = {
			labels: labels,
			datasets: [{
			label: 'Temperatures',
			borderColor: (context) => {
        			const chart = context.chart;
			        const {ctx, chartArea} = chart;

			        if (!chartArea) {
			          return null;
			        }

			        return getGradient(ctx, chartArea);
			},
			tension: 0.3,
			data: [],
			}]
		};

		const config = {
			type: 'line',
			data,
			options: {}
		}

		let chart = new Chart(
			document.getElementById('chart'),
			config
		);

		socket.on('web-data', (data) => {
			chart.data.labels.push(count++);
			chart.data.datasets.forEach((dataset) => {
				dataset.data.push(data);
			});
			chart.update();
		});
	</script>
{% endblock %}
