<!DOCTYPE html>
<html lang="fr">
    <head>
        <!-- Required meta tags -->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- CSS -->
        <link rel="stylesheet" href="style/pageContent.css">
        <link rel="stylesheet" href="style/flexWrap.css">
    </head>
    <body>
        <div class="zone " id="id-BFA9">
            <div class="zone-title " id="title-id-BFA9">
                Zone 1 (celle qui est jolie)
            </div>
            <div class="flex-container">
                
                
                <div class="sub-flex-container">
                    <div>Temp</div>
                    <div>Hum</div>
                    <div>Patient</div>  
                    <div>Personnel</div>
                </div>  
                <div>ECG</div>
                <div>Air Quality</div>
                <div>7</div>
                <div>8</div>
            </div>
        </div>
        <div class="zone " id="id-CAFE">
            <div class="zone-title " id="title-id-B00B">
                Zone 2 (celle qui sent bon)
            </div>
            <div class="flex-container">
                <div class="sub-flex-container">
                    <div>Temp</div>
                    <div>Hum</div>
                    <div>Patient</div>  
                    <div>Personnel</div>
                </div>  
            </div>
        </div>
        <div class="zone " id="id-CAFE">
            <div class="zone-title " id="title-id-CAFE">
                Zone 3 (l'autre)
            </div>
            <div class="flex-container">
                <div class="sub-flex-container">
                    <div>Temp</div>
                    <div>Hum</div>
                    <div>Patient</div>  
                    <div>Personnel</div>
                </div>  
            </div>
        </div>
    </body>
</html>

