{% extends "base.html" %}
{% block style %}{{ url_for('static', filename='style/pageContent.css') }}{% endblock %}
{% block title %}Search{% endblock %}
{% block content %}
	<form id="queryForm" method="post" action={{ url_for("main.search") }}>
    	<div class="container">
    		<i id="queryButton" class="bi bi-search" onlcick=""></i>
			<input name="query" class="text-centered rounded" type="text" placeholder="Search engine ...">
		</div>
	</form>
    <div class="container">
        {% if results %}
 			{% for patient in results %}
				<p id="{{ patient.pk }}" onclick="displayPatient">{{ patient.name }} {{ patient.surname }}<p>
			{% endfor %}
		{% endif %}
     </div>
	<script type="text/javascript">
		document.getElementById("queryButton").onclick = () => { document.getElementById("queryForm").submit(); };

		function displayPatient() {
			console.log('hello');
		};
	</script>
{% endblock %}
