{% extends "base.html" %}
{% block title %}Signup{% endblock %}
{% block content %}
{% with messages = get_flashed_messages() %}
{% if messages %}
{{ messages[0] }}. Go to <a href="{{ url_for('auth.login') }}">login page</a>.
{% endif %}
{% endwith %}
    <br>
    <form method="post" action="/signup">
        <input name="email" type="email" placeholder="Email"><br>
        <input name="name" type="text" placeholder="Name"><br>
        <input name="password" type="password" placeholder="Password"><br>
        <input type="submit">
    </form>
{% endblock %}