{% extends "base.html" %}
{% block style %}{{ url_for('static', filename='style/pageContent.css') }}{% endblock %}
{% block title %}Admin - Home{% endblock %}
{% block content %}
<div class="roomprofile">
	<h1>Page d'administration</h1>
	<table width="98%">
		<colgroup>
			<col span="1" style="width: 33%;"></col>
			<col span="1" style="width: auto"></col>
			<col span="1" style="width: 33%;"></col>
		</colgroup>
		<tr>
			<th><a href="{{ url_for('admin.users') }}" class="bi bi-person-badge" style="font-size: 100px"></a></th>
			<th><a href="{{ url_for('admin.rooms') }}" class="bi bi-columns-gap" style="font-size: 100px"></a></th>
			<th><a href="#" class="bi bi-x-square" style="font-size: 100px"></a></th>
		</tr>
		<tr>
			<th><a href="{{ url_for('admin.users') }}">Utilisateurs</a></th>
			<th><a href="{{ url_for('admin.rooms') }}">Pièces</a></th>
			<th><a href="#" onclick="resetDB()">Réinitialiser BDD</a></th>
		</tr>
	</table>
	<br>
</div>
	<script>
		sio = io();

		function resetDB() {
			if (confirm("Voulez-vous vraiment réinitialiser la base de données ?")) {
				sio.emit('patient-reset-q');
			}
		}

		sio.on('patient-reset-r', (code) => {
			if (!code) {
				alert("Base de données réinitialisée avec succès !")
			} else {
				alert("Erreur lors de la réinitialisation de la base de données.")
			}
		});

	</script>
{% endblock %}
