<!DOCTYPE html>
<html lang="fr">
    <head>
        <!-- Required meta tags -->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
              
        <link rel="shortcut icon" type="image/png" href="https://www.flaticon.com/svg/vstatic/svg/1439/1439840.svg"/>
        <title>Intranet - Login</title>
        
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" crossorigin="anonymous"></script>
        
        <!-- CSS -->
        <link rel="stylesheet" href="../../static/style/loginPage.css">
    </head>
    <body>
        <h2>Intranet - Hôpital TrucMuch</h2>
            <form class="flexboxLogin rounded" action="/mainPage.html">
                <input class="flexboxLoginItems text-centered rounded" type="text" placeholder="Enter Username" name="uname" required>

                <input class="flexboxLoginItems text-centered rounded" type="password" placeholder="Enter Password" name="psw" required>

                <button class="flexboxLoginButton rounded" type="submit">SE CONNECTER</button>
            </form>
    </body>
</html>